<div class="container card m-4">
  <div class="card-body">
    <h1>Adding a restaurant</h1>
    <%= render 'restaurants/form' %>
  </div>
  <h4><%= link_to "Go back to list", restaurants_path, class: "text-decoration-none" %></h4>
</div>
